*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.App{
  min-height :100vh;
  display: flex;
  background: #604b92;
}
.card{
  margin: auto;
  width: 400%;
  max-width: 400px;
  min-height: 180px;
  padding: 30px;
  background: #333;
  box-shadow: 4px 4px 1px rgba(0,0, 0, .5);
  justify-content: space-between;
  align-items: flex-start;
}
p{
  color: #fff;
  font-size:17px;
  word-wrap: break-word; 
}
p:last-of-type{
  margin: 10px;

}
.btnget{
  background: red;
  color: white;
  width:80px;
  padding: 7px;
  border-radius: 4px;
  border:none;
  outline:none;
  margin-right: 12px;

}

;